<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Referred By:</strong> {{ candidateInfoById.referredBy }}
            </p>
            <p><b>Candidate Name:</b> {{ candidateInfoById.candidateName }}</p>
            <p><b>Experience:</b> {{ candidateInfoById.experience }}</p>
            <p><b>Last Employer:</b> {{ candidateInfoById.lastEmployer }}</p>
            <p>
              <b>Last Designation:</b> {{ candidateInfoById.lastDesignation }}
            </p>
          </div>

          <div class="col-md-6">
            <p>
              <b>Round Name:</b>
              {{ candidateInfoById.roundName }}
            </p>
            <p>
              <b>Interview Date:</b>
              {{ candidateInfoById.interviewDate | date }}
            </p>
            <p>
              <b>Interviewer Name:</b> {{ candidateInfoById.interviewerName }}
            </p>
            <p><b>Round Status:</b> {{ candidateInfoById.candidateStatus }}</p>
            <p><b>Notice Period:</b> {{ candidateInfoById.noticePeriod }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-info"
              (click)="gotopage('UpdateCandidate')"
            >
              Edit
            </button>
          </div>
          <div class="col">
            <button class="btn btn-danger" type="button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
