

<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h5 class="text-danger">You have no permission to view this resource.</h5>
    <img src="~/Images/27607d11108a462b59393125c07f2e7d.png" style="height:200px; width:200px"/>
</div>