@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Spicy Hotel</h1>
    <a asp-controller="Menu" asp-action="Index">check what all we have</a>
</div>
