@*@model IEnumerable<IdentityRole>;

@{
    ViewBag.Title = "Roles";
}

<h1>Roles Details</h1>

@if (Model.Any())
{
    <a class="btn btn-primary" style="width: auto" asp-controller="Administration"
       asp-action="CreateRole">Create role</a>

    foreach (var item in Model)
    {
        <div class="card mb-3">

            <div class="card-header">
                Id:@item.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
            </div>

            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration"
                   asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteRole" asp-controller="Administration"
                   asp-route-id="@item.Id">Delete</a>
            </div>

        </div>
    }
}
else
{
    <div class="card">

        <div class="card-header">
            No roles created yet.
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>

            <a class="btn btn-primary" style="width: auto" asp-controller="Administration" asp-action="CreateRole">Create role</a>
        </div>

    </div>
}*@
