
<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h5 class="text-danger">You have no permission to view this resource.</h5>
    <img src="./Images/istockphoto-1071535488-612x612.jpg" style="height:500px;
    width:500px" />
</div>