<h3>Enter Technical skill details.</h3>
<form action="">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="">candidate Round Information</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Round Information</option>
          <option value="" *ngFor="let item of roundInformation">
            {{ item.RoundName }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Concept</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Technical</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Domain</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Skill set</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Analytical skill</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Problem Solving</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Focussed and alert</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Other</label>
        <select name="" id="" class="form-control">
          <option value="">Choose Rating</option>
          <option value="" *ngFor="let item of Rating">
            {{ item.RatingValue }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="">Comments</label>
        <textarea type="text" name="" id="" cols="30" rows="10" class="form-control" placeholder="Enter your comments here"></textarea>
      </div>

      <a type="button" class="btn btn-primary" routerLink="" routerLinkActive="active">Submit Technical skill</a>
    </div>
  </div>
</form>
