@model LoginUsingIdentity.ViewModel.Registration

@{ 
    ViewBag.Title = "User Registration Form";
}

<h1>User Registration Form</h1>

<div class="row">
    <div class="col-12">

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <dnt-captcha asp-captcha-generator-max="999999"
                         asp-captcha-generator-min="111111"
                         asp-captcha-generator-language="English"
                         asp-captcha-generator-display-mode="ShowDigits"
                         asp-use-relative-urls="true"
                         asp-placeholder="Enter Security code"
                         asp-validation-error-message="Please enter the security code."
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="#333333"
                         asp-back-color="#ccc"
                         asp-text-box-class="text-box form-control"
                         asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                         asp-validation-message-class="text-danger"
                         asp-refresh-button-class="fas fa-redo btn-sm"
                         asp-use-noise="false" />

            <button type="submit" class="btn btn-primary">Register</button>

        </form>

    </div>
</div>