<div class="row">
  <div class="col-3">
    <!-- <nav class="navbar"> -->
    <ul>
      <li>
        <a routerLink="CandidateInformation" routerLinkActive="active"
          >Candidate Details</a
        >
      </li>
      <li>
        <a routerLink="CandidateInterviewInformation" routerLinkActive="active"
          >Candidate's Interviewer Details</a
        >
      </li>
      <li>
        <a routerLink="CandidateRoundInformation" routerLinkActive="active"
          >Candidate's Round Information</a
        >
      </li>
      <li>
        <a routerLink="InterviewerFeedback" routerLinkActive="active"
          >Interviewer Feedback</a
        >
      </li>

      <li>
        <a routerLink="InterviewerCandidateDetails" routerLinkActive="active"
          >Interviewer Candidate Details</a
        >
      </li>

      <li>
        <a routerLink="CreateSoftSkill" routerLinkActive="active"
          >Create soft skill</a
        >
      </li>

      <li>
        <a routerLinkActive="active" routerLink="CreateTechnicalSkill">Create Technical skill</a>
      </li>
    </ul>
    <!-- </nav> -->
  </div>
</div>
