<div *ngFor="let item of candidateDetails; let i = index">
  <div class="row">
    <div>{{ item.candidateId }}</div>
    <div>{{ item.referredBy }}</div>
    <div>{{ item.candidateName }}</div>
    <div>{{ item.lastEmployer }}</div>
    <div>{{ item.lastDesignation }}</div>
  </div>
  <button
    type="button"
    (click)="GetCandidateInfoById(item.candidateId)"
    routerLink="CandidateRoundInformationById"
    routerLinkActive="true"
    class="btn btn-info"
  >
    Get Detail
  </button>
</div>
