@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to spicy hotel!</h1>
    <h3><a asp-action="Index" asp-controller="Home" style="text-decoration: none">view our dishes here</a></h3>
</div>
